element.root {
    fill-canvas:        compose;
    fill-color:         #704;
    fill-radius-x:      0;
    fill-radius-y:      0;
}

element.root / background.space {
    area:               l0 t0 r0 b0;
}

pane.main {
    fill-canvas:        compose;
    fill-color:         #f08;
    fill-radius-y:      14;
    fill-radius-x:      14;
    border-canvas:      compose;
    border-color:       #f0af;
    border-size:        1;
    border-blur:        0;
    border-radius-x:    14;
    border-radius-y:    14;
    area:               l32 t32 r344 b32;
}

pane / element.outline {
    area:               l0 t0 r100 b0;
    border-area:        l0 t0 r0 b0;
    border-canvas:      compose;
    border-color:       #f0f;
    border-size:        2;
    border-blur:        0;
    border-radius-x:    16;
    border-radius-y:    16;
    fill-radius-x:      16;
    fill-radius-y:      16;
    background:         "images/orbiter.png";
}

pane / editor {
    fill-canvas:        overlay;
    fill-color:         #fff1;
    text-area:          l10 t44 r200 b10;
    area:               l10 t44 r200 b10;
    border-area:        l0.5 t0.5 r0.5 b0.5;
    border-canvas:      compose;
    border-color:       #f0f;
    border-size:        1;
    border-radius-x:    8;
    border-radius-y:    8;
    fill-radius-x:      8;
    fill-radius-y:      8;
    content:            "this is a string of text";
    text-color:         #fff;
    text-shadow-color:  #000a;
    text-shadow-x:      1;
    text-shadow-y:      1;
    text-align-x:       left;
    text-align-y:       top;
}

pane / button.button1 {
    content:            "button";
    area:               l8 t8 r8 b8;
    fill-canvas:        overlay;
    border-canvas:      overlay;
    border-size:        4;
    border-color:       #ffff;
}

pane.debug {
    fill-canvas:        compose;
    fill-color:         #008;
    area:               r312 t0 r0 b0;
}

scene.iris {
    fill-canvas:        overlay;
    fill-color:         #0000;
    area:               l32 b132 w256 h256;
}